<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inducktion</title>
</head>
<body>
    <form action="/add" method="POST">
        Name: <input name= "name" type="text"><br>  
        Cuteness: <input name= "cuteness" type= "number"><br>
        Awkwardness: <input name= "awkwardness" type= "number"><br>
        <input type="submit" value="Here is my duck!">
    </form>
</body>
</html>