<h1>User Dashboard</h1>
<body>
    <div class = "header">
        <span>Test App</span>
        <a href="/">Home</a>
        <a href="/login"Sign in</a>
    </div>
    <div class = "main">
        <h1>Welcome to the Test</h1>
        <h2>We're going to build a cool application!  Come along for a magical journey!</h2>
        <a href = "/login" Start></a>
    </div>
    <div class= "submain">
        <div>
            <h3>Manage Users</h3>
            <p>Some stuff</p>
        </div>
        <div>
            <h3>Leave Messages</h3>
            <p>Some stuff</p>
        </div>
        <div>
            <h3>Edit User Information</h3>
            <p>Some stuff</p>
        </div>
    </div>
</body>

<form action= "/users/posts" method="POST">

</form>

