<!DOCTYPE html>
<html>
    <h1>Some things everyone should know about ninja:</h1>
    <ul>
        <li>They performed acts of espionage, guerilla warfare, sabotage, and sometimes assassination.</li>
        <li>They were most active during the 16th century... as far as we know.</li>
        <li>Contrary to the Samurai code of honor, they considered no tactic off-limits in matters of life or death.</li>
        <li>The most famous ninja was Hattori Hanzo, who played an instrumental role in Ieyasu Tokugawa's unification of Japan.</li>
    </ul>
</html>