<h1>Wedding Planner</h1>
<body>
    <div class = "header">
        <span>Do stuff</span>
        <a href="/">Home</a>
        <a href="/login">Sign in</a>
        <a href="/register">Register</a>
    </div>
</body>

<form action= "/users/posts" method="POST">

</form>

